# dependencies
node_modules/

# build hasil compile
dist/
dist-types/
build/

# enviromemnt
.env


#os
.DS_Store
Thumbs.db
/src/generated/prisma
/generated/prisma

/generated/prisma
# application logs
logs/

# load test results
test/load/results/
